html{font-family: Arial, Helvetica, sans-serif;

}
.card{width: 300px;
      padding: 15px;
      border:1px solid rgb(80%,80%,80%);
      box-shadow: 5px 5px  rgb(105,101,100,0.4);

}
.name{font-weight: bold;

}
.pics{width: 300px;

}
.card-description{margin-top: 10px;
                  padding: 10px;
                  border: 1px solid rgb(80%,80%,80%);
                  

}
.fact{font-style: italic;

}
.list{list-style: none;
      padding-left: 0px;


}
.list-item{font-weight: bold;
}
